@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  font-family: 'Pacifico', cursive;
  /* overflow-y: hidden; */
  color: white;
  /* margin: 0; */

}
h3{
  text-align: center;
  color: white;
/* margin-top: 10px;
padding-bottom: 0.64em; */
  font-size: 2em;
  /* color: rgb(9, 110, 110); */
}
body{
  background-image: linear-gradient(45deg, black 20%, rgb(39, 170, 170));
  /* background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
}
.grid {
  /* margin-top: 50px; */
  border: 1px solid;
  height: 600px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.all{
  /* border: 1px solid black; */
  /* background-color: aqua; */
  border-radius: 50%;
  background-color: aqua;
}
.grid div {
  height: 100px;
  width: 100px;
  
  /* background-color: blue; */
}
.bg{
  background-color: blue;
}
.circle{
  /* height: 100px;
  width: 100px; */
  background-color: white;
  border-radius: 50%;
}

.player-one {
  background-color: red;
  border-radius: 50%;
  
}

.player-two {
  background-color: yellow;
  border-radius:  50%;
}
